@model E_Ticaretim.Models.Seller

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SellerName" class="control-label"></label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPhone" class="control-label"></label>
                <input asp-for="SellerPhone" class="form-control" />
                <span asp-validation-for="SellerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerEMail" class="control-label"></label>
                <input asp-for="SellerEMail" class="form-control" />
                <span asp-validation-for="SellerEMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPassword" class="control-label"></label>
                <input asp-for="SellerPassword" class="form-control" />
                <span asp-validation-for="SellerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmSellerPassword" class="control-label"></label>
                <input asp-for="ConfirmSellerPassword" class="form-control" />
                <span asp-validation-for="ConfirmSellerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerDescription" class="control-label"></label>
                <input asp-for="SellerDescription" class="form-control" />
                <span asp-validation-for="SellerDescription" class="text-danger"></span>
            </div>
           
           
           
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class ="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
