@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="/Customers/Create?CurrentUrl=/Payment/MakePayment&NoPassword=true">Üye Olmadan Devam Et</a>
<a href="/Customers/LogIn?CurrentUrl=/Payment/MakePayment">Giriş Yapın</a>
<a href="/Customers/Create?CurrentUrl=/Payment/MakePayment">Üye Ol</a>
