
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table class=" table table-bordered">

    <tr>
        <th>Banka</th>
        <th>Şube Kodu</th>
        <th>Banka Hesap No</th>
        <th>IBAN No</th>
    </tr>

    <tr>
        <td><img src="~/Images/garanti.jpeg" style="width:80px; height:80px;" /></td>
        <td>345 - Kadıköy Şubesi</td>
        <td>6299529</td>
        <td>TR 123456987456321458796 52</td>
    </tr>

    <tr>
        <td><img src="~/Images/yapikredi.jpeg" style="width:80px; height:80px;" /></td>
        <td>486 - Şişli Şubesi</td>
        <td>7892536</td>
        <td>TR 459856987456321423796 71</td>
    </tr>

    <tr>
        <td><img src="~/Images/isbankasi.jpeg" style="width:80px; height:80px;" /></td>
        <td>486 - Üsküdar Şubesi</td>
        <td>2689164</td>
        <td>TR 539856007456324123796 44</td>
    </tr>

</table>